.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

footer {
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__nav {
    padding-bottom: 64px;
    margin-bottom: 64px;
  }
}

.navbar-nav li {
  padding: 0 16px;
}

.nav-link {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #0C1621 !important;

}

.hire_dev {
  background: #F6652F;
  border-radius: 44px;
  padding: 8px 28px !important;

  .nav-link {
    color: #FFFFFF !important;
  }
}

main {
  flex: 1 1 auto;
}

.banner-container {
  margin-top: 160px;
}

.banner__text {
  h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #0C1621;
  }

  p {
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: rgba(12, 22, 33, 0.72);
  }

  .btn {
    background: #F6652F;
    border-radius: 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding: 12px 40px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

}

.specialists__container {
  margin-top: 322px;

  h1 {
    max-width: 645px;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0C1621;

    span {
      color: #F6652F;
    }
  }

  .thumb__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 64px 0;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(12, 22, 33, 0.72);
  }

  .gray__box {
    min-height: 570px;
    max-width: 672px;
    position: relative;
    width: 100%;
    background: #F5F5F5;

    .box__item {
      position: absolute;

      &:first-child {
        top: 40%;
        left: -22%;
        transform: translateY(-40%);

        .card__tags {
          grid-template-columns: 1fr 1fr;
        }
      }

      &:nth-child(2) {
        right: 46px;
        top: -36px;

        .card__tags {
          grid-template-columns: 1fr;
        }
      }

      &:nth-child(3) {
        right: 162px;
        bottom: -48px;

        .card__tags {
          grid-template-columns: 1fr;
        }
      }

      .card {
        width: max-content;
        padding: 16px 32px;
        background: #FFFFFF;
        box-shadow: 0px 32px 48px rgba(12, 22, 33, 0.12);
        border-radius: 24px;

        .card__flag {
          position: absolute;
          right: 28px;
          top: 16px;
        }

        .card-body {
          padding: 16px 0 8px 0;

          .card-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.02em;
            margin: 0;
            color: #0C1621;
          }

          .card-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.06em;
            color: rgba(12, 22, 33, 0.72);
          }

          .card__tags {
            display: grid;
            grid-column-gap: 6px;
            grid-row-gap: 6px;
          }

          .tag {
            border: 1px solid rgba(12, 22, 33, 0.12);
            border-radius: 24px;
            width: max-content;
            padding: 4px 16px;

            span {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.04em;
            }

            span:first-child {
              color: rgba(12, 22, 33, 0.72);
            }

            span:last-child {
              color: #0C1621;
            }
          }
        }
      }

      .card-img-top {
        height: 80px;
        width: 80px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }

  .thumb__footer {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-top: 96px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0C1621;
  }
}

.join {
  margin: 252px auto 224px auto;

  h1 {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 32px;
    line-height: 48px;
    max-width: 900px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0C1621;
  }

  .col__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(12, 22, 33, 0.72);
  }

  .join_btn {
    font-weight: 600;
    padding: 12px 40px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    border-radius: 44px;

    &:first-child {
      color: #FFFFFF;
      background: #F6652F;
    }

    &:last-child {
      border: 1px solid rgba(12, 22, 33, 0.12);
      color: #0C1621;
    }
  }
}

.clients {
  h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #0C1621;
  }

  .gray__box {
    margin-top: 66px;
    position: relative;
    background: #F5F5F5;
    max-width: 672px;
    width: 100%;
    min-height: 460px;

    .clients__count {
      position: absolute;
      bottom: 34px;
      right: -25%;
      transform: translateX(-17%);
      padding: 16px 24px;
      font-weight: 400;
      font-size: 16px;
      background: #FFFFFF;
      box-shadow: 0px 24px 32px rgba(12, 22, 33, 0.12);
      border-radius: 12px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #0C1621;
    }

    .gray__box__item {
      max-width: 296px;
      width: 100%;
      border-radius: 24px;
      padding: 24px;
      position: absolute;

      &:first-child {
        left: -20%;
        top: 10%;
        background: #00489D;
      }

      &:nth-child(2) {
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        background: #F6652F;
      }

      &:nth-child(3) {
        right: -40%;
        transform: translateX(-40%);
        top: -10%;
        background: #0C1621;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
      }

      .box__body {
        margin-top: 24px;

        .title {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.02em;
          color: #FFFFFF;
        }

        .position {
          margin-bottom: 24px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.06em;
          color: rgba(255, 255, 255, 0.64);
        }

        .text {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.06em;
          color: #FFFFFF;
        }
      }
    }
  }
}

.join_to_nidge {
  margin: 320px 0;

  .join__text {
    max-width: 530px;
  }

  .join__btn {
    margin-top: 36px;
    display: inline-block;
    background: #F6652F;
    border-radius: 44px;
    padding: 12px 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

  }

  .join_list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 36px;

    li {
      svg{
        margin-right: 23px;
      }
      padding: 6px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.06em;
      color: #0C1621;
    }
  }

}

.price {
  margin-top: 320px;
  margin-bottom: 256px;

  .price__card {
    max-width: 320px;
    background: #F5F5F5;
    border-radius: 24px;
    padding: 24px;

    &:nth-child(2) {
      .card__title {
        margin: 16px 0;
      }

      .success {
        right: -10px !important;
        top: 20px !important;
        background: #00489D !important;
        border-radius: 24px !important;
        transform: rotate(-5.79deg) !important;
      }

      .card__text {
        margin: 0;
      }
    }

    &:nth-child(3) {
      .success {
        left: 10px !important;
        top: 20px !important;
        background: #F6652F !important;
        border-radius: 24px !important;
        transform: rotate(-5.79deg) !important;
      }
    }

    .card__title {
      font-weight: 400;
      font-size: 32px;
      line-height: 32px;
      color: #0C1621;
    }

    .card__text {
      font-weight: 400;
      font-size: 16px;
      margin: 16px 0;
      line-height: 24px;
      letter-spacing: 0.06em;
      color: rgba(12, 22, 33, 0.72);
    }

    .card__price {
      background: #FFFFFF;
      min-height: 80px;
      position: relative;
      box-shadow: 0px 24px 32px rgba(12, 22, 33, 0.12);
      border-radius: 12px;
      padding: 18px 0 24px 24px;

      .success {
        position: absolute;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        padding: 10px 17px;
        background: #78C939;
        width: max-content;
        border-radius: 24px;
        top: 20px;
        right: -17px;
        transform: rotate(10.77deg);
        letter-spacing: 0.04em;
        color: #FFFFFF;
      }

      .pr {
        span:nth-child(1) {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #0C1621;
        }

        span:nth-child(2) {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.06em;
          color: rgba(12, 22, 33, 0.72);
        }
      }
    }
  }
}

.tools {
  margin-top: 256px;
  margin-bottom: 192px;

  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #0C1621;
  }

  .tools__subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(12, 22, 33, 0.72);
    margin-top: 16px;
    margin-bottom: 64px;
  }

  .tools__list {
    max-width: 820px;
    position: relative;
    min-height: 448px;
    width: 100%;
    padding-top: 32px;

    .odd {
      display: grid;
      grid-column-gap: 40px;
      grid-template-columns: repeat(6, 1fr);
    }

    .even {
      margin: 28px 0;
      display: grid;
      width: max-content;
      grid-column-gap: 40px;
      grid-template-columns: repeat(5, 1fr);
    }

    .tool__circle {
      z-index: 2;
      position: relative;
      width: 103px;
      background: #FFFFFF;
      box-shadow: 0px 24px 32px rgba(12, 22, 33, 0.12);
      border-radius: 100%;
      height: 103px;
    }
  }

  .tools__gray__box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F5F5F5;
    width: 100%;
    max-width: 672px;
    min-height: 448px;
  }
}

@media screen and(max-width: 991px) {
  .banner__text h1 {
    font-size: 44px;
    line-height: 44px;
  }
  .header_img {
    margin-top: 40px;
  }
  .banner-container {
    margin-top: 80px;
  }
  .specialists__container {
    margin-top: 150px;
  }
  .gray__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  .box__item {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    transform: unset !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .navbar-nav li {
    padding: 8px 0;
  }
  .banner__text h1, .specialists__container h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .banner__text .btn {
    padding: 6px 23px;
    font-size: 16px
  }
  .specialists__container {
    margin-top: 80px;
  }
  .specialists__container .thumb__header {
    padding: 16px 0 25px 0;
  }
  .specialists__container .thumb__footer {
    margin-top: 40px;
  }
  .gray__box {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box__item {
    max-width: 340px !important;
    width: 100%;

    .card {
      width: 100% !important;
    }
  }
}

@media screen and(max-width: 425px) {
  .banner-container {
    margin-top: 40px;
  }
  .banner__text h1, .specialists__container h1 {
    font-size: 25px;
    padding: 0 12px;
    line-height: 32px;
  }
  .specialists__container .thumb__footer, .specialists__container .thumb__header {
    font-size: 16px;
    padding: 0 12px;
  }
  .specialists__container .gray__box .box__item .card .card-body .card__tags {
    grid-template-columns: 1fr;
  }
}